* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 110%;
	font-size: 100%;
	background-image:url(../img/texture-black);
	background-repeat: repeat;
	background-attachment:fixed;
	background-size: 1300px 900px;
	margin: auto;
 }	
 
.logo {
	margin-left: 400px;
	margin-top: -165px;
}

.header {
	color: white;
	font-size: 45px;
	font-family: 'Allan', cursive;
	font-weight: 300;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
}

label {
	display: block;
	cursor: pointer;
	color: white;
}

input {
	font-size: 1rem;
}

input + label {
	display: inline;
}

.input-text {
	border: 1px solid #ccc;
	border-radius: 4px;
	background-image: linear-gradient(to bottom, #efefef, #fff);
	padding: 0.5em;
	width: 100%;
}

textarea {
	max-width: 100%;
	height: 8em;
}

button {
	font-size: 1rem;
	padding: 8px;
	margin-top: 15px;
	border-radius: 10px;
	border: 2px solid #900;
	background-color: red;
	color: white;
	font-weight:200;
	cursor: pointer;
}

.colour {
	color: white;
}

.error {
	display: block;
	color: #f33;
}